
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
</head>
<body>
    
    {% for product in product_list %}
        <ul>
            <li>{{product.name}}</li>
            <li>{{product.character}}</li>
            <li>{{product.authur_name}}</li>
            <li>{{product.desc}}</li>
            <img src="{{ products.img_url.url }}" alt="">
        </ul>
    {% endfor %}
        
    
</body>
</html>