{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
        integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
        integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/custom-style.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <title>Courses</title>
</head>



<body>


    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <a class="navbar-brand mb-3" href="#">
            <img src="{% static 'images/log.png' %}" width="50px">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse " id="navbarSupportedContent">


            <ul class="navbar-nav mr-auto container-fluid">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-list-ul"></i> Categories
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Python</a>
                        <a class="dropdown-item" href="#">C++</a>
                        <a class="dropdown-item" href="#">Java</a>
                        <a class="dropdown-item" href="#">JavaScript</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"></a>
                    </div>
                </li>

                <!--      SEARCH BAR       -->

            </ul>


            <a class="nav-link btn btn-light  mx-2" href="#" data-toggle="popover" title="Whatsapp Us"
                data-placement="bottom" data-trigger="hover"
                data-content="Mention your requirment on the group by clicking">Mention Your Requirment</a>
            <a class="nav-link btn btn-light  mx-2" href="#">Contribute Courses</a>

            <!--    LOGIN SIGNUP       -->


        </div>
    </nav>



    <div class="jumbotron big-banner mb-0 jumbotron-fluid" style="height: 500px; padding-top: 150px;">


        <div class="container">
            <div class="row align-items-center">
                <div class="col">

                    <div class="col-md-4 text-light">
                        <h1 class="display-5">Welcome Here</h1>
                        <p class="lead">Get our best deal on courses</p>
                    </div>

                    <div class="col-md-6">
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control form-control-lg mr-sm-0 col-8
                                 border-right-0 " style="border-radius: 5px 0px 0px 5px; " type="search"
                                placeholder="What Do You Want To Learn?" aria-label="Search">

                            <button class="btn btn-light btn-lg my-2 my-sm-0 col-2 border-left-0"
                                style="border-radius: 0px 5px 5px 0px;" type="submit"><i
                                    class="fas text-danger fa-search"></i></button>
                        </form>
                    </div>


                </div>

            </div>
        </div>

    </div>


    <div class="fresh-content text-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="media">
                        <i class="far fa-play-circle mr-3 display-4"></i>
                        <div class="media-body">
                            <h5 class="mt-0">Fresh Content</h5>
                            Choose from 65,000 courses with new additions published every month
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="media">
                        <i class="fas fa-ribbon mr-3 display-4"></i>
                        <div class="media-body">
                            <h5 class="mt-0">Free Certifications</h5>
                            Free Certifications of worth 500-5000 /-
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="media">
                        <i class="fas fa-spinner mr-3 display-4"></i>
                        <div class="media-body">
                            <h5 class="mt-0">Flexible Learning</h5>
                            Learn on your terms with lifetime course access
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>

    <!--list of courses as pr categories-->

    <!--Business-->
    <div class="container mt-5 scrolling-wrapper">
        <h3>
            <small class="text-muted">Top Courses in "Business"</small>
        </h3>
        <div class="card-deck">

            <div class="card mx-1 shadow-sm wrap">
                <span class="badge  badge-warning w-50 mt-2" style="position: absolute; z-index: 3">BEST SELLER</span>

                <img class="card-img-top h-50" src="images/bussiness.jpg" alt="Card image cap">
                <div class="card-body px-2">
                    <h6>#main title of the course</h6>
                    <p class="card-text" style="font-size: 11px;">sub tittle and info of course</p>
                    <p class="card-text"><small class="text-muted">
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star-half text-warning"></i>
                            (raiting) (total)</small>
                        <span class="d-block"></span>
                        <span class="float-right">
                            <small style="text-decoration: line-through;" class="text-muted">
                                XXXXX</small>XXXX </span>

                    </p>
                </div>
            </div>

        </div>
    </div>

    <!--         Featured topics               -->


    <div class="row pt-5 px-3 border-top mt-5 " style="font-size: 13px;">
        <div class="col">
        </div>



    </div>

    <hr />

    <div class="row" style="font-size: 12px;">
        <div class="col pl-5">
            <img src="{% static 'images/log.png' %}" width="100px" class="mr-5">
        </div>
        <div class="col pl-5">
            <h6>Devloped By-<h5><a href="https://github.com/jayprakash02/">Jayprakash</a></h5>
            </h6>
        </div>
        <div class="col">


        </div>
    </div>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>

    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        })

    </script>
    
</body>



</html>